[submodule "containers/tensorflow/reviews"]
	path = containers/tensorflow_models/reviews_sentiment
	url = https://github.com/openai/generating-reviews-discovering-sentiment
[submodule "containers/tensorflow/deeplab_resnet"]
	path = containers/tensorflow_models/deeplab_resnet
	url = https://github.com/EliotAndres/tensorflow-deeplab-resnet
[submodule "containers/tensorflow_models/tensorflow_models_repo"]
	path = containers/tensorflow_models/tensorflow_models_repo
	url = https://github.com/tensorflow/models
